.DonationsIcon {
  .a {
    fill: #2476ed;
  }

  .b {
    fill: #3493f8;
  }

  .c {
    fill: #a7d0fc;
  }

  .d {
    fill: #fff;
  }

  .e {
    fill: #ff94d2;
  }

  .f {
    fill: #ff72c3;
  }

  .g {
    fill: #ffbeaa;
  }

  .h {
    fill: #ffdecf;
  }

  .i {
    fill: #fb5858;
  }

  .j {
    fill: #f44545;
  }

  .k {
    fill: #c42d2d;
  }
}
