.DarkModeIcon {
  .a {
    fill: url(#a);
  }

  .b {
    fill: url(#b);
  }

  .c {
    fill: url(#c);
  }

  .d {
    fill: url(#d);
  }

  .e {
    fill: url(#e);
  }

  .f {
    fill: url(#f);
  }

  .g {
    fill: url(#g);
  }

  .h {
    fill: url(#h);
  }

  .i {
    fill: url(#i);
  }

  .j {
    fill: url(#j);
  }

  .k {
    fill: url(#k);
  }

  .l {
    fill: url(#l);
  }
}
