.UserDropdownItem {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  text-decoration: none;
  outline: none;

  .LeftIcon,
  .RightItem {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;

      g,
      path,
      circle,
      rect {
        transition: var(--transition);
      }
    }
  }

  .LeftIcon {
    margin: 8px 12px 8px 0;
  }

  .RightItem {
    margin-left: auto;
    padding-right: 8px;
  }
}
