.LogOutIcon {
  .a {
    fill: #07485e;
  }

  .b {
    fill: #03232e;
  }

  .c {
    fill: #ff8859;
  }

  .d {
    fill: #ff3939;
  }

  .e {
    fill: #fff5f5;
  }

  .f {
    fill: #efe2dd;
  }
}
