.RightDarkModeIcon {

  .a {
    fill: none;
  }

  .b {
    fill: none;
  }

  &.Active {
    .a {
      fill: #ffefb5;
    }

    .b {
      fill: #794597;
    }

    &.DarkMode {
      .a {
        fill: #794597;
      }

      .b {
        fill: #ffefb5;
      }
    }
  }
}
