.LanguageIcon {
  .a {
    fill: #ffdc00;
  }

  .b {
    fill: #fec108;
  }

  .c {
    fill: #f44335;
  }

  .d {
    fill: #783e22;
  }

  .e {
    fill: #37474f;
  }

  .f {
    fill: #607d8b;
  }

  .g {
    fill: #ffe0b2;
  }

  .h {
    fill: #3f51b5;
  }

  .i {
    fill: #dfc49c;
  }

  .j {
    fill: #00bcd4;
  }

  .k {
    fill: #60a917;
  }

  .l {
    fill: #549414;
  }

  .m {
    fill: #c81e1e;
  }
}
