.Dropdown {
  position: absolute;
  right: 0;
  margin-top: 9px;
  background: var(--white-color);
  border: 2px solid var(--light-gray-color);
  border-radius: 20px 0 20px 20px;
  overflow: hidden;
  z-index: 666;
  transition: var(--transition);

  &:hover,
  &:focus-within {
    border-color: var(--orange-color);
  }
}
