.Header {
  padding: 6px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .LoginBtn {
    text-decoration: none;
    color: #181818;

    &:hover {
      font-weight: bold;
      margin-right: -3px;
    }
  }

  .NavigationList {
    display: flex;

    .NavigationItem {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: #181818;
      }
    }

    .UserMenu {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      transition: var(--transition);

      &:hover,
      &:focus {
        filter: brightness(0.85);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
