.TopicsLoader {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 279px);
  column-gap: 27px;
  row-gap: 30px;

  li {
    width: 280px;
    border: 2px solid var(--light-gray-color);
    border-radius: 20px;
  }
}
