.SortButton {
  width: 24px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    span {
      background: var(--orange-color);
    }
  }

  span {
    height: 2px;
    background: var(--dark-gray-color);

    &:nth-child(1) {
      width: 24px;
    }

    &:nth-child(2) {
      width: 16px;
    }

    &:nth-child(3) {
      width: 8px;
    }
  }
}
