.SortButton {
  width: 32px;
  height: 26px;
  margin: 0 10px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    span {
      background: var(--orange-color);
    }
  }

  span {
    height: 2px;
    background: var(--dark-gray-color);
    transition: var(--transition);

    &:nth-child(1) {
      width: 24px;
    }

    &:nth-child(2) {
      width: 16px;
    }

    &:nth-child(3) {
      width: 8px;
    }
  }
}
