@import 'variables.css';
@import 'fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', Roboto, Ubuntu, 'Open Sans', 'Fira Sans', 'Lucida Sans', Arial, sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
}

ul {
  list-style: none;
}

body {
  font-size: var(--medium-font-size);
}
