.TopicsSection {
  padding-bottom: 40px;

  .TopicHeader {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .title {
      margin-right: 40px;
    }

    .TopicList {
      display: flex;
    }
  }
}
