.TopicsSection {
  padding-bottom: 40px;

  .TopicHeader {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .Title {
      margin-right: 40px;
    }
  }

  .TopicList {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, 279px);
    column-gap: 27px;
    row-gap: 30px;
  }
}
